*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.section{
    width:100%;
    height:500px;

}

#first-section{

    background-image: url('https://images.unsplash.com/photo-1581091872370-1c203d690c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80.pg');
     background-repeat:no-repeat;
     background-size: cover;
     background-position: center;
}

#second-section{
    /*background-color: chocolate;*/ 
    background-image: url('https://images.unsplash.com/photo-1580894908361-967195033215?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80.jpg');
    background-repeat:no-repeat;
     background-size: cover;
    background-position: top;
}
#third-section{
    background-image: url('https://images.unsplash.com/photo-1581094651181-35942459ef62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
#fourth-section{
    background-image: url('https://images.unsplash.com/photo-1581091215367-9b6c00b3035a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;}

.container {
    height:inherit;
    width:inherit;
    background-color: rgba(12, 11, 11, 0.253);
    padding:5%;
}

.content{
    height:100%;
    width:35%;
   margin: 0 auto;
   background-color: rgba(130, 29, 197, 0.459);
  border-top:2px solid white;
  border-bottom:2px solid white;
  border-bottom-right-radius:60px;
  text-align: center;
  padding:5%;
}

.head{
    color:rgba(255, 255, 0, 0.623);
    text-decoration:underline;
    margin-bottom: 15px;
    font-weight: 400;
}
.text{
    color:white;
    font-size: 18px;
    font-weight:100 ;
    font-style: italic;
}

.btn{
    width:200;
    height:40px;
    font-size: 16px;
    color:rgb(128, 128, 128);
    border-radius: 5px;
    outline:none;
    margin-top:15px;
    padding-left: 15px;
    padding-right: 15px;
}